/*? Main Stylesheet of MUS1K module  */
/* Created in 10/05/2022 by: Giovani Imperatrice */ 
    :root {
    /* Definição de cores da Página Proncipal */
        --moduleCor60: #81d7dd; /*? Cor 60% (textos) */
        --moduleCor30: #00ffc8; /*? Cor 30% (elementos) */
        --moduleCor20: #fb8cff; /*? Cor 20% (parte B dos elementos) */
        --moduleCor10: #ff5e00; /*? Cor 10% (detalhes) */
        --moduleCorBg: #161616; /*? Cor Fundo */
        --moduleCorWt: #f5e3d9; /*? Cor Branco */
    }

    *, *::before, *::after {
    /* Reset dos parametros */
        color: var(--moduleCor60);
        box-sizing: inherit;
        margin: 0;
        padding: 0;
        border: 0;
        font-weight: normal;
    }

    body { 
        background-color: var(--moduleCorBg);
    }


/*! Dispositivo móvel (425px and down)-------------------------------- */
@media (max-width: 425px) {

    }   
/*! Tablet (426px and up)--------------------------------------------- */
@media (min-width: 426px) {

    }    
/*! Laptop P (769px and up)------------------------------------------- */
@media (min-width: 769px) {

    }
/*! Desktop (1025px and up)------------------------------------------- */
@media (min-width: 1025px) {

    }
/*! Versão para TV 4K(3840px and up)---------------------------------- */
@media (min-width: 3840px) {

    }